/* 
#e55646

*/

* {
    margin: 0;
    padding: 0;
}

/* Main Sections */
.main {   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f5cac3;
    
}

.body-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:#f5cac3; */
    /* background-color: #fcdbe4; */
    /* background-color: #F8BCCC; */
    /* background-color: bisque; */
    width: 80%;  /*adjust in media queries*/  
   
}

/* Header */
.header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;  
    height: 15vh;
    width: 100%;
}
.header-list{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    list-style-type: none;    
}

.header-name{
    width: 40%;
}

.header-link:hover{
   opacity: 1;
}

.header-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: grey;
  }
  
  .header-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .header-link-ltr:hover::before {
    width: 100%;
  }
  

/*Intro Section*/
.intro-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    height: 85vh;
    width: 100%;
    
}

.intro-copy{
    margin: auto;
    width: 100%;
   
}

.intro-image{
    display: flex;
    align-items: flex-end;
}

/*Projects Section*/
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;   
    min-height: 100vh;
    width: 100%;
}

.project-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;  
    margin: 0 0 3rem 0; 
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 1);   
}

.project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 1.5rem;   
} 

 

/*About Section*/
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    height: 100vh;
    width: 100%;
}

/*Contact Section*/
.contact-section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;        */
    height: 100vh;
    width: 100%;
}

#form-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;    
}

#form{
   display: flex;
   flex-direction: column;
   width: 420px;

}

input, textarea{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #F8BCCC;
    
}

.button{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
    font-weight:bold;
    color: grey;
    background-color: #F8BCCC;
    border: 2px solid #84a59d;
    border-radius: 5px;    
}

.button:hover {
    background-color: bisque;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
}

.social-icons{
    width: 200px;
}

.footer-copy{
    display: inline-block; 
    text-align: center; 
    margin: 0 2em 0 2em;
    font-size: 1em;   
    font-family: 'Raleway';
}

/* Text */

h1 {   
    font-family: 'Pompiere';    
    font-size: 7em;    
}

h3{
    font-family: 'Raleway';
    font-size: 1.5em;
    text-align: center;
}

p{
    font-family: 'Open Sans';
}

#intro-title{
    margin-right: -150px;
}

#intro-sub-title{
    margin-top: 1em;
    /* margin-left: 6em; */
    font-family: 'Raleway';
    font-size: 1.5em;
}

.header-link {
    display: inline-block; 
    text-align: center; 
    position: relative;
    margin: 0 0 0 2em;
    padding: 1em 0;
    font-size: 1.25em;       
    font-family: 'Raleway';
    color: black;
    opacity: 0.75;
}

.section-title{
    margin: 3em 0 3em 0;
}

.section-subheading{
    margin: 3em 0 2em 0;
} 

.section-copy{
    text-align: left;
    margin-bottom: 1em;
}
/*project card*/
.project-title{
    margin: 0 0 1em 0;
    font-size: 1.5em;
}

.project-description, .tools-used{
    margin: 0 0 1.5em 0;
}

#greetings{

}
#salutation{
    margin-bottom: 0.5em;
}

#signiture{
    margin-left: 2em;
}

::placeholder{
    color: grey;
}

:-ms-input-placeholder {
    color: grey;
}

::-ms-input-placeholder {
    color: grey;
}

/*Links*/

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{

}

a:active{

}

/* Images */
/*removes the 3px margin at the bottom of the images*/
img{
    vertical-align: middle;
}

#logo{
    width: 5rem;
    height: auto;    
}

.social-logo{
    width: 2rem;
    height: auto;
    margin: 0 10px; 
}

.icon{
    width: 2rem;
    height: auto;
    margin: 0 10px;
}

#portrait{
    width: 45rem;
    height: auto; 

}

.mockup{
    width: 25rem;
    height: auto;
}