
/* 
#e55646

*/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Main Sections */
.main {   
    display: flex;
    flex-direction: row;
    justify-content: center;  
    background-color:#f5cac3;
}

/* .main-section{
    width: 80%;
}
I might use this to take away the body card section
eventually...
*/

.body-card {
    display: flex;
    flex-direction: column;    
    align-items: center;
    /* background-color:#f5cac3; */
    /* background-color: #fcdbe4; */
    /* background-color: #F8BCCC; */
    /* background-color: bisque; */
    width: 80%;  /*adjust in media queries*/  
    
}

/* Header */
.header{
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;  
    height: 15vh;
    width: 100%;
}
.header-list{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    list-style-type: none;    
}

.header-name{
    width: 40%;
}

.header-link:hover{
   opacity: 1;
}

.header-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: grey;
}
  
.header-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.header-link-ltr:hover::before {
    width: 100%;
}

/* Sticky scroller Icon */
.scroll{   
    position: sticky;
    top: 80vh;
    width: 100%;
    text-align: right;
    margin-right: -15%;
}

#scroller{
    width: 40px;
    height: auto; 
    animation: blink 5s linear infinite;   
}  

@keyframes blink {
    0% {
      opacity: .0;
    }
    10%{
        opacity: .1;
    }
    20%{
        opacity: .25;
    }
    30% {
      opacity: .5;
    }
    40% {
        opacity: .75;
    }
    50% {
      opacity: 1;
    }
    60%{
        opacity: .75;
    }
    70% {
      opacity: .5;
    }
    80% {
        opacity: .25;
    }
    90% {
      opacity: .10;
    }
    100% {
        opacity: .0;
      }

}

/*Intro Section*/
.intro-section {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    height: 85vh;
    width: 100%;
    margin: 0 0 4em 0;
}

.intro-copy{
    margin: auto;
    width: 100%;
   
}

.intro-image{
    display: flex;
    align-items: flex-end;
}

/*About Section*/
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    min-height: 100vh;
    width: 100%;
    align-items: center;
    margin: 0 0 4em 0;
}

/*Projects Section*/
.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;   
    min-height: 100vh;
    width: 100%;
}

/*Contact Section*/
.contact-section {
    display: flex;
    flex-direction: column;    
    height: 100vh;
    width: 100%;
    align-items: center;
}

#form-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;  
    width: 100%;  
}

#form{
   display: flex;
   flex-direction: column;
   width: 420px;

}

input, textarea{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 6px;
    background-color: #f5b3b3;
    /* background-color: #F8BCCC; */
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    resize: none;
    
}

.button{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1em;
    font-weight:bold;
    color: black;
    background-color: #ffffff69;
    /* background-color: #F8BCCC; */
    border: 1px solid white;
    border-radius: 5px;    
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #aaaaaa69;
    border: 1px solid black;
}

.button:active{
    transform: scale(0.9);
    box-shadow: none;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
}

.social-icons{
    width: 200px;
}

.footer-copy{
    display: inline-block; 
    text-align: center; 
    margin: 0 2em 0 2em;
    font-size: 1em;   
    font-family: 'Raleway',  san sarif;
}

/* Text */

h1 {   
    font-family: 'Pompiere',  san sarif;    
    font-size: 7em;    
}

h3{
    font-family: 'Raleway',  san sarif;
    font-size: 1.5em;
    text-align: center;
}
h4 {
    font-family: "Sophia Sans 700", san sarif;
}

p{
    font-family: 'Open Sans',  san sarif;
}

#intro-title{
    margin-right: -150px;
}

#intro-sub-title{
    margin-top: 1em;
    /* margin-left: 6em; */
    font-family: 'Raleway';
    font-size: 1.5em;
}

.header-link {
    display: inline-block; 
    text-align: center; 
    position: relative;
    margin: 0 0 0 2em;
    padding: 1em 0;
    font-size: 1.25em;       
    font-family: 'Raleway',  san sarif;
    color: black;
    opacity: 0.75;
}

.section-title{
    display: inline-block; 
    position: relative;
    margin: 3em 0 3em 0;   
    font-family: 'Raleway',  san sarif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.2rem;
    z-index: 1;
}

.section-subheading{
    margin: 3em 0 2em 0;
} 

.section-title::before {
    content: "";
    position: absolute;    
    background-color: #ffe3e3;
    -webkit-box-shadow: 0 0 8px #ffd9d9;
    box-shadow: 0 0 8px #ffd9d9;
    height: 25px;
    left: 4px;
    bottom: 0;   
    z-index: -1;
}

#about-section-title::before {
    width:200px;
}

#toolkit-section-title::before {
    width:175px;
}

#project-section-title::before {
    width:185px;
}

#contact-section-title::before {
    width:180px;
}

/* About Me Letter */
.section-copy{
    text-align: left;
    margin-bottom: 1em; 
}

#greetings{
    margin-left: 2em;
}

.section-copy span{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.section-copy span::before{
    content: "";
    display: inline;
    position: absolute;    
    background-color: #f5b3b3;
    -webkit-box-shadow: 0 0 8px #ffd9d9;
    box-shadow: 0 0 8px #ffd9d9;
    height: 0.6em;
    left: 2px;
    bottom: 0;   
    z-index: -1;  
}

#am-span1::before{
    width: 205px;
}

#am-span2::before{
    width: 250px;
}

#am-span3::before{
    width: 315px;
}
#am-span4::before{
    width: 73px;
}

#salutation{
    margin-left: 2em;
    margin-bottom: 0.5em;    
}

#signiture{
    margin-left: 2em;
    font-family: 'Gloria Hallelujah','Courier New', Courier, monospace;
    font-size: 1.2em;   
    /* color: #f5b3b3; */
}

::placeholder{
    color: grey;
}

:-ms-input-placeholder {
    color: grey;
}

::-ms-input-placeholder {
    color: grey;
}

/*Links*/

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
   
}

a:active{
   
}

/* Images */
/*removes the 3px margin at the bottom of the images*/
img{
    vertical-align: middle;
}

#logo{
    width: 5rem;
    height: auto;    
}

.social-logo{
    width: 2rem;
    height: auto;
    margin: 0 10px; 
}

.icon{
    width: 2rem;
    height: auto;
    margin: 0 10px;
}

#portrait{
    width: 45rem;
    height: auto; 

}

.mockup{
    width: 25rem;
    height: auto;
}

.grow:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}